<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>


		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/texstone_db?useEncoding=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">t12xRv3s</property>

		
		<property name="hibernate.connection.provider_class">org.hibernate.connection.DBCPConnectionProvider</property>
		
		<property name="hibernate.connection.pool_size">20</property>
		<property name="hibernate.dbcp.initialSize">10</property>

		<property name="hibernate.dbcp.validationQuery">select 1</property>
        <property name="hibernate.dbcp.testOnBorrow">true</property>
        <property name="hibernate.flush.mode">MANUAL</property>

        <property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		

		<mapping class="com.jpn.gemstone.texstone.server.model.AdminUser" />
		<mapping class="com.jpn.gemstone.texstone.server.model.Category" />
		<mapping class="com.jpn.gemstone.texstone.server.model.Article" />
		<mapping class="com.jpn.gemstone.texstone.server.model.DataVersion" />

	</session-factory>
</hibernate-configuration>